[Unit]
Description= {{ description }}
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ service_name }}
ExecStop=/usr/bin/docker stop -t 10 {{ service_name }}

[Install]
WantedBy=multi-user.target